body, html body {
    font-family: Roboto, Trebuchet MS, sans-serif;
    font-size: 16px;
    color: #fff;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body, p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

main {
    display: block;
}

a {
    background-color: transparent;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}

img {
    border-style: none;
    display: block;
    max-width: 100%;
}

button,
select {
    text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

* {
    box-sizing: border-box;
}

.page__wrapper {
    border-bottom: 0.5px solid rgb(23, 28, 43);
    background-image: url(../img/bg-main.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    margin: 0 auto;
    padding: 0 10px;
}

.main__top {
    display: none;
}

.main__item {
    position: relative;
    display: block;
    text-decoration: none;
    color: #fff;
    background-color: #070E1D;
    border-radius: 8px;
    box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.1);
}

.main__item:not(:last-child) {
    margin-bottom: 8px;
}

.main__item_content {
    display: grid;
    grid-template-rows: 82px;
    grid-template-columns: 130px 1fr 162px 149px;
    padding: 32px 40px;
    grid-column-gap: 50px;
    column-gap: 50px;
}

.main__item_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 82px;
}

.main__item_description {
    display: flex;
    align-items: center;
    font-size: 22px;
    line-height: 26px;
    font-weight: 700;
}

.main__item_bottom {
    background-color: #17163C;
    border-radius: 0 0 8px 8px;
    text-align: center;
    font-size: 10px;
    line-height: 12px;
    color: #BCC4CC;
    padding: 8px;
}

.main__item_rating, .main__item_cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main__item_rating_top {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.main__item_rating_number {
    font-weight: 700;
    font-size: 40px;
    line-height: 44px;
    margin-right: 8px;
}

.main__item_rating_stars span {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
}

.main__item_rating_stars span b {
    font-weight: 400;
}

.main__item_rating_stars img {
    margin-bottom: 2px;
}

.main__item_rating_link {
    font-size: 14px;
    line-height: 16px;
    color: #0F84EB;
    text-align: center;
}

.main__item_cta_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3745C4;
    border-radius: 37px;
    height: 44px;
    width: 100%;
    font-size: 16px;
    font-weight: 700;
    transition: all .15s linear;
    margin-bottom: 12px;
}

.main__item_cta_btn:hover {
    background-color: #212974;
}

.main__item_cta_text {
    font-size: 16px;
    line-height: 20px;
    color: #BCC4CC;
}

.main__item_cta_text b {
    font-weight: 700;
    color: #fff;
}

.rising:after {
    content: url("../img/rising.png");
    display: block;
    position: absolute;
    width: 122px;
    height: 28px;
    top: -8px;
    left: -14px;
}

.exclusive:after {
    content: url("../img/exclusive.png");
    display: block;
    position: absolute;
    width: 137px;
    height: 28px;
    top: -8px;
    left: -14px;
}

.main__items {
    margin-bottom: 45px;
}

.slider__items {
    overflow: auto;
    margin-bottom: 100px;
}

.slider__items::-webkit-scrollbar{
    width: 0;
}

.slider__items_container {
    width: 1120px;
    display: flex;
    justify-content: space-between;
}

.slider__item {
    position: relative;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #fff;
    width: 340px;
    background-color: rgb(7, 14, 29);
    padding: 35px 35px 51px;
    box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    min-height: 455px;
}

.slider__item__reviews {
    width: 138px;
    margin: 0 auto 26px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.slider__item__logo {
    width: 172px;
    height: 52px;
    margin: 0 auto 25px;
}

.slider__item__logo img {
    height: 100%;
    margin: auto;
}

.slider__item__reviews img {
    width: 76px;
    margin-right: 10px;
    margin-left: 5px;
}

.slider__item__reviews span {
    font-weight: 500;
    font-size: 12px;
    font-style: italic;
    line-height: 19px;
}

.slider__item_rating_link {
    width: 100%;
    font-size: 13px;
    line-height: 20px;
    color: #0F84EB;
    text-align: center;
}

.slider__item_rating_link:hover {
    text-decoration: underline;
}

.slider__item ul {
    padding-left: 30px;
    list-style-type: none;
    margin-bottom: auto;
    margin-top: 0;
}

.slider__item ul li {
    position: relative;
    font-size: 15px;
    line-height: 29px;
    font-weight: 300;
}

.slider__item ul li:first-child {
    font-weight: 700;
    font-size: 16px;
    line-height: 29px;
}

.slider__item ul li:after{
    content: "";
    position: absolute;
    top: 9px;
    left: -27px;
    display: inline-block;
    transform: rotate(-45deg);
    height: 6px;
    width: 15px;
    border-style: solid;
    border-bottom-width: 3px;
    border-left-width: 3px;
    border-top: none;
    border-right: none;
    border-color: #3745C4;
    border-radius: 2px;
    background-color: transparent;
}

.slider__item_cta_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3745C4;
    border-radius: 37px;
    height: 40px;
    font-size: 15px;
    font-weight: 700;
    transition: all .15s linear;
    width: 210px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.slider__item_cta_btn:hover {
    background-color: #212974;
}

.article__text {
    color: rgb(188, 196, 204);
    font-size: 18px;
    line-height: 30px;
    max-width: 725px;
    margin: 0 auto 110px;
    width: 100%;
}

.faq {
    background-color: #17163C;
    padding: 50px 0;
}

.faq__container {
    max-width: 745px;
}

.faq__item {
    margin-bottom: 12px;
}

.faq__item_title ~.faq__item_text {
    max-height: 500px;
    opacity: 1;
    transition: .2s all;
}

.faq__item_title.closed ~ .faq__item_text {
    max-height: 0;
    opacity: 0;
    transition: .2s all;
    padding-top: 0;
    padding-bottom: 0;
    visibility: hidden;
}

.faq__item_title {
    position: relative;
    color: rgb(255, 255, 255);
    background-color: rgb(7, 14, 29);
    border-radius: 8px;
    padding: 20px 78px 20px 24px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    cursor: pointer;
}

.faq__item_title:after, .faq__item_title:before {
    content: '';
    width: 21px;
    height: 3px;
    display: block;
    border-radius: 5px;
    position: absolute;
    transition: .15s ease-in-out;
    background-color: #fff;
    top: 50%;
    right: 21px;
    transform: translateY(-50%);
}

.faq__item_title.closed:before {
    transform: translateY(-50%) rotate(90deg);
}

.faq__item_text {
    max-width: 580px;
    padding: 11px 11px 25px;
    font-size: 18px;
    line-height: 30px;
}

.faq__title {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 60px;
    font-weight: 700;
    text-align: center;
}

.legal {
    padding: 100px 0;
}

.legal__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 40px;
}

.legal__logos {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.legal__logos a {
    display: block;
    margin: 10px 15px;
}

.legal__logos img {
    height: 40px;
}

.footer {
    background-color: rgb(34, 33, 83);
    padding: 35px 0 18px;
    color: #bcc4cc;
}

.footer__container {
    max-width: 1100px;
}

.footer__top {
    margin-bottom: 70px;
}

.footer__list_title {
    height: 87px;
}

.footer__list_links {
    max-width: 303px;
    display: flex;
    flex-wrap: wrap;
}

.footer__list_links a {
    display: block;
    width: 50%;
    text-decoration: none;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: rgb(188, 196, 204);
    margin-bottom: 10px;
}

.footer__list_links a:hover {
    text-decoration: underline;
}

.footer__list_title img {
    width: 200px;
}

.footer__list_title {
    text-transform: uppercase;
    font-size: 15px;
    line-height: 24px;
    font-weight: 700;
}

.footer__bottom {
    font-size: 11px;
    line-height: 24px;
    font-weight: 300;
}

.top__container {
    max-width: 1130px;
    display: flex;
}

.top__date {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 11px;
    line-height: 11px;
    margin-bottom: 13px;
}

.top__date svg {
    width: 18px;
    height: 18px;
    margin-right: 4px;
}

.top__header {
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    margin-bottom: 14px;
}

.top__text {
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 25px;
    color: #BCC4CC;
}

.top__icons {
    display: flex;
}

.top__icons_item {
    display: flex;
    align-items: center;
    margin-right: 30px;
    font-size: 13px;
    line-height: 13px;
}

.top__icons_item img {
    margin-right: 8px;
    width: 36px;
    height: 36px;
}

@keyframes bell {0%{-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);transform:rotate(0deg)}4%{-webkit-transform:rotate(35deg);-moz-transform:rotate(35deg);transform:rotate(35deg)}6%{-webkit-transform:rotate(-25deg);-moz-transform:rotate(-25deg);transform:rotate(-25deg)}9%{-webkit-transform:rotate(20deg);-moz-transform:rotate(20deg);transform:rotate(20deg)}12%{-webkit-transform:rotate(-15deg);-moz-transform:rotate(-15deg);transform:rotate(-15deg)}15%{-webkit-transform:rotate(10deg);-moz-transform:rotate(10deg);transform:rotate(10deg)}18%{-webkit-transform:rotate(-5deg);-moz-transform:rotate(-5deg);transform:rotate(-5deg)}20%{-webkit-transform:rotate(5deg);-moz-transform:rotate(5deg);transform:rotate(5deg)}22%{-webkit-transform:rotate(-3deg);-moz-transform:rotate(-3deg);transform:rotate(-3deg)}25%{-webkit-transform:rotate(3deg);-moz-transform:rotate(3deg);transform:rotate(3deg)}24%{-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);transform:rotate(0deg)}to{-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);transform:rotate(0deg)}}

.header__menu_bell {
    position: relative;
    width: 30px;
    height: 30px;
    margin-right: 11px;
}

.header__menu_bell svg {
    animation: bell 5s infinite;
}

.header__menu_bell-count {
    height: 15px;
    width: 15px;
    background-color: #f52323;
    color: #fff;
    border-radius: 50%;
    line-height: 1;
    position: absolute;
    right: 0;
    top: 6px;
    font-size: 13px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.header__container {
    max-width: 1130px;
    display: flex;
    justify-content: space-between;
}

.header__menu {
    display: flex;
    align-items: center;
}

.header__menu_list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.header__menu_list li {
    margin: 0 25px 0 0;
}

.header__menu_list li svg {
    margin-left: 6px;
}

.header__menu_list li a {
    font-size: 14px;
    line-height: 22px;
    color: #fff;
    text-decoration: none;
}

.header__menu_list li a:hover {
    text-decoration: underline;
}

@media (min-width: 1200px) {
    .main__top {
        display: flex;
        margin-bottom: 28px;
        position: relative;
        justify-content: space-between;
    }

    .to-desktop {
        display: none;
    }

    .main__items__container {
        max-width: 1120px;
    }

    .main__item--desktop {
        width: 32.7%;
        padding: 16px 35px 14px 16px;
        height: 176px;
        box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.81);
    }

    .main__item--desktop:last-child {
        padding: 16px 20px 16px 43px;
    }

    .main__item--desktop-second {
        width: 436px;
        transition: all .15s ease-in-out;
        padding: 32px 32px 16px;
        height: 194px;
        position: absolute;
        top: -9px;
        left: calc(50% - 218px);
        z-index: 2;
    }

    .main__item--desktop-second:hover {
        transform: scale(1.05);
    }

    .main__item--desktop .main__item_content {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 0;
        column-gap: 0;
        padding: 0;
        max-height: 100%;
        max-width: 100%;
    }

    .main__item--desktop .main__item_logo {
        height: 60px;
        width: 170px;
        margin-bottom: 26px;
        margin-right: 14px;
    }

    .main__item--desktop .main__item_logo img {
        max-height: 100%;
    }

    .main__item--desktop .main__item_description {
        font-size: 16px;
        line-height: 20px;
        width: 170px;
        margin-right: 14px;
    }

    .main__item--desktop .main__item_rating_number {
        font-size: 32px;
        line-height: 36px;
    }

    .main__item--desktop .main__item_rating_stars span {
        font-size: 10px;
        line-height: 12px;
    }

    .main__item--desktop .main__item_rating_stars img {
        width: 67px;
    }

    .main__item--desktop .main__item_cta_btn {
        font-size: 14px;
        line-height: 16px;
        width: 120px;
        height: 32px;
    }

    .main__item--desktop-second .main__item_cta_btn {
        font-size: 16px;
        line-height: 20px;
        width: 162px;
        height: 44px;
    }

    .main__item--desktop .main__item_rating, .main__item--desktop .main__item_cta {
        margin-top: 11px;
        justify-content: flex-start;
    }

    .top__container {
        align-items: flex-end;
    }

    .top__image {
        width: 35%;
        height: 258px;
        flex-shrink: 0;
    }

    .top__image img {
        width: 100%;
        height: 258px;
        object-fit: contain;
        object-position: right bottom;
    }

    .top {
        padding-top: 36px;
        padding-bottom: 70px;
    }
}

@media (max-width: 1199px) and (min-width: 992px) {
    .top__container, .header__container {
        padding-left: 40px;
        padding-right: 40px;
    }

    .top {
        padding-top: 40px;
        padding-bottom: 50px;
    }

    .main__items__container {
        padding-left: 39px;
        padding-right: 39px;
    }

    .main__item_content {
        grid-column-gap: 40px;
        column-gap: 40px;
    }

    .top__container {
        align-items: flex-end;
    }

    .top__image {
        width: 35%;
        height: 235px;
        flex-shrink: 0;
    }
}

@media (max-width: 1199px) {
    .slider__items_container {
        width: 978px;
        padding: 0 25px;
    }

    .slider__item {
        width: 300px;
    }
}

.header__menu_mob {
    display: none;
}

@media (max-width: 991px) {
    .header__menu_mob {
        display: flex;
        padding-right: 7px;
    }

    .top__text, .header__menu_list {
        display: none;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    .legal {
        padding: 80px 0;
    }

    .top__container, .header__container {
        padding-left: 40px;
        padding-right: 40px;
    }

    .main__items__container {
        padding-left: 39px;
        padding-right: 39px;
    }

    .top__image {
        display: flex;
        align-self: flex-end;
        width: 30%;
        height: 150px;
        flex-shrink: 0;
    }

    .top__header {
        font-size: 27px;
        line-height: 31px;
        margin-bottom: 27px;
    }

    .top__container {
        align-items: flex-end;
    }

    .top {
        padding-top: 26px;
        padding-bottom: 52px;
    }

    .top__icons_item img {
        width: 23px;
        height: 23px;
    }

    .top__icons_item {
        margin-right: 0;
    }

    .top__icons_item:not(:last-child) {
        margin-right: 27px;
    }

    .top__content {
        width: 100%;
    }

    .main__item_content {
        grid: 72px/114px 1fr 123px 134px;
        grid-column-gap: 24px;
        column-gap: 24px;
        grid-row-gap: unset;
        row-gap: unset;
        padding: 24px;
    }

    .main__item_description {
        font-size: 18px;
        line-height: 22px;
    }

    .main__item_rating_number {
        font-size: 32px;
        line-height: 36px;
    }

    .main__item_rating_stars span {
        font-size: 10px;
        line-height: 14px;
    }

    .main__item_cta_text {
        font-size: 14px;
        line-height: 16px;
    }

    .main__item_cta_btn {
        font-size: 14px;
        line-height: 16px;
        height: 32px;
    }
}

@media (min-width: 768px) {
    .footer__list {
        width: 50%;
    }

    .footer__top {
        display: flex;
        flex-flow: row wrap;
    }
}

@media (max-width: 767px) and (min-width: 580px) {
    .slider__items {
        margin-bottom: 60px;
    }

    .article__text {
        font-size: 16px;
        line-height: 26px;
        padding: 0 10px;
        margin-bottom: 50px;
    }

    .faq {
        padding: 22px 0 10px;
    }

    .footer__list:first-child .footer__list_title {
        height: 99px;
    }

    .footer__top {
        margin-bottom: 57px;
    }

    .faq__title {
        margin-bottom: 50px;
    }

    .legal {
        padding: 40px 0;
    }

    .footer__list:first-child {
        margin-bottom: 48px;
    }

    .footer__bottom {
        text-align: center;
    }

    .top_header__wrapper {
        background-image: url(../img/bg-mob.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .top__container, .header__container {
        padding-left: 40px;
        padding-right: 40px;
    }

    .main__items__container {
        padding-left: 23px;
        padding-right: 23px;
    }

    .top__header {
        font-size: 27px;
        line-height: 31px;
    }

    .top__image {
        display: none;
    }

    .top {
        padding-top: 28px;
        padding-bottom: 26px;
        margin-bottom: 30px;
    }

    .top__icons_item img {
        width: 23px;
        height: 23px;
    }

    .top__icons_item {
        font-size: 10px;
        line-height: 10px;
    }

    .top__icons_item {
        margin-right: 0;
    }

    .top__icons_item:not(:last-child) {
        margin-right: 27px;
    }

    .main__item_content {
        grid: 72px 58px/123px 1fr;
        grid-row-gap: 16px;
        row-gap: 16px;
        grid-template-rows: 82px 60px;
        grid-template-columns: 226px 1fr;
        grid-column-gap: 32px;
        column-gap: 32px;
        padding: 24px;
    }

    .main__item_logo img {
        max-height: 100%;
        max-width: 130px;
    }

    .main__item_description {
        font-size: 20px;
        line-height: 24px;
        text-align: center;
    }

    .main__item_rating_number {
        font-size: 32px;
        line-height: 36px;
    }

    .main__item_rating_stars span {
        font-size: 10px;
        line-height: 14px;
    }

    .main__item_cta_text {
        font-size: 14px;
        line-height: 14px;
    }

    .main__item_cta_btn {
        font-size: 14px;
        line-height: 16px;
        height: 32px;
    }

    .main__item_rating_stars img {
        width: 76px;
    }

    .faq__container {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media (max-width: 579px) {
    .slider__items {
        margin-bottom: 60px;
    }

    .article__text {
        font-size: 16px;
        line-height: 26px;
        padding: 0 10px;
        margin-bottom: 60px;
    }

    .faq__title {
        margin-bottom: 50px;
    }

    .legal {
        padding: 40px 0;
    }

    .footer__list:first-child .footer__list_title {
        height: 99px;
    }

    .footer__top {
        margin-bottom: 57px;
    }

    .footer__list:first-child {
        margin-bottom: 48px;
    }

    .footer__bottom {
        text-align: center;
    }

    .top__image {
        display: none;
    }

    .top__icons {
        display: none;
    }

    .top_header__wrapper {
        background-image: url(../img/bg-mob.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .top__header {
        font-size: 27px;
        line-height: 31px;
        margin-bottom: 0;
    }

    .header__container, .top__container {
        padding-left: 5px;
        padding-right: 5px;
    }

    .top {
        padding: 18px 0 10px;
        margin-bottom: 7px;
    }

    .main__items__container {
        padding-left: 16px;
        padding-right: 16px;
    }

    .main__item_content {
        grid: 72px 58px/123px 1fr;
        grid-row-gap: 16px;
        row-gap: 16px;
        grid-column-gap: 24px;
        column-gap: 24px;
        padding: 24px 16px 16px;
    }

    .main__item_logo img {
        max-height: 100%;
        max-width: 114px;
    }

    .main__item_description {
        font-size: 16px;
        line-height: 20px;
        text-align: center;
    }

    .main__item_rating_number {
        font-size: 32px;
        line-height: 36px;
    }

    .main__item_rating_stars span {
        font-size: 10px;
        line-height: 14px;
    }

    .main__item_cta_text {
        font-size: 14px;
        line-height: 14px;
    }

    .main__item_cta_btn {
        font-size: 14px;
        line-height: 16px;
        height: 32px;
    }

    .main__item_rating_stars img {
        width: 76px;
    }

    .exclusive:after, .rising:after {
        top: 0;
    }

    .faq {
        padding: 20px 0;
    }

    .faq__container {
        padding: 0 15px;
    }
}

.arrow__top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 18px;
    z-index: 15;
}

@media (min-width: 768px) {
    .arrow__top {
        right: 52px;
    }
}

.arrow__top-bg {
    fill: #0F84EB;
    transition: .15s all;
}

.arrow__top:hover .arrow__top-bg {
    fill: #094E8B;
}