@charset "UTF-8";

body {
    background-color: #ddd;
}

html {
    font-size: 17px;
}

.main-wrapper {
    color: #23292f;
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

p {
    margin-bottom: 1rem;
}

h1,
h4 {
    color: #116696;
    font-family: 'Lato', sans-serif;
    letter-spacing: -0.025rem;
    text-transform: capitalize;
}

h1 {
    font-size: 40px;
}

.textLarge {
    font-size: 24px;
}

a {
    color: #7dc049;
    cursor: pointer;
}

a:focus,
a:hover {
    color: #116696;
    text-decoration: none;
}

.contentContainer {
    background-color: #fff;
}

.sectionContent {
    padding: 25px 0;
}

.sectionSiteInfo h1 {
    margin-top: 0;
}

.sectionSiteInfoImage {
    background-position: top right;
    background-repeat: no-repeat;
    color: #fff;
    min-height: 200px;
}

.sectionSiteInfoImage h1 {
    color: #fff;
}

.sectionSiteInfoImage .modalLinks {
    color: #ccc;
}

.sectionSiteInfoImage .modalLinks a {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
}

.sectionSiteInfoImage .modalLinks a:hover {
    color: #eee;
}

.sectionSiteInfoImage .referralText {
    color: #fff;
    font-size: 11px;
    font-weight: 400;
}

.displayOverflow {
    overflow: visible;
}

@media (max-width: 767px) {
    .main-wrapper {
        background-image: none;
    }

    h1 {
        font-size: 30px;
    }

    .textLarge {
        font-size: 17px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .main-wrapper {
        background-image: none;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .main-wrapper {
        background-image: none;
    }
}

@media (min-width: 1200px) {
    .main-wrapper {
        background-attachment: fixed;
        background-position: top center;
        background-repeat: no-repeat;
    }
}

button {
    border: none;
    outline: none;
}

button.close {
    outline: none;
}

.tableReviews .btnReviewWidget {
    display: block;
}

.sectionContent .sectionContentButton {
    display: inline-block;
}

.tableReviews .btnReviewWidget,
.sectionContent .sectionContentButton,
.rvwsModal .btnSimple {
    background: #7dc049;
    background: -moz-linear-gradient(top, #9bd96b 0%, #7dc049 100%);
    background: -webkit-linear-gradient(top, #9bd96b 0%, #7dc049 100%);
    background: linear-gradient(to bottom, #9bd96b 0%, #7dc049 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9bd96b', endColorstr='#7dc049', GradientType=0);
    border-radius: 5px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 700;
    outline: none;
    margin: 5px 0;
    padding: 8px 25px;
}

.tableReviews .btnReviewWidget:focus,
.tableReviews .btnReviewWidget:hover {
    color: #fff;
}

.tableReviews .btnReviewWidget:focus,
.tableReviews .btnReviewWidget:hover,
.sectionContent .sectionContentButton:focus,
.sectionContent .sectionContentButton:hover {
    background: #9bd96b;
    background: -moz-linear-gradient(top, #7dc049 0%, #9bd96b 100%);
    background: -webkit-linear-gradient(top, #7dc049 0%, #9bd96b 100%);
    background: linear-gradient(to bottom, #7dc049 0%, #9bd96b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7dc049', endColorstr='#9bd96b', GradientType=0);
}

.tableReviews .btnReviewWidget {
    width: 100%;
}

@media (max-width: 767px) {
    .tableReviews .btnReviewWidget {
        max-width: 200px;
        padding: 10px;
    }
}

header {
    background-color: #fff;
}

.mfNavbar {
    background: none;
    border: none;
    margin: 0;
    padding: 10px 0;
}

.mfNavbarHeader {
    width: 100%;
}

.logo {
    background-image: url('../images/logo.png');
    height: 46px;
    margin-top: -12px;
    width: 250px;
}

header .mfNavbar li .navLink {
    color: #116696;
    font-size: 15px;
    margin: 28px 0 0 20px;
    padding: 0;
}

header .mfNavbar li .navLink:hover {
    color: #7dc049;
}

.mfNavCollapse {
    border: none;
    width: 100%;
}

.mfNavBarRight {
    margin: 0 -15px;
}

.mfBtnNavbar {
    background-color: #fff !important;
}

.mfBtnNavbar:hover {
    background-color: #eee !important;
}

.disclaimer {
    font-size: 14px;
    text-align: center;
    color: #888;
    margin-top: 20px;
}

@media (max-width: 767px) {
    .logo {
        background-size: 180px 34px;
        height: 34px;
        margin-top: -7px;
        width: 180px;
    }

    header .mfNavbar li .navLink {
        margin: 0;
        padding: 10px 15px;
    }

    .mfNavbarHeader {
        width: auto;
    }

    .mfNavBarRight {
        margin: 15px -15px;
    }
}

.sectionSiteInfo {
    padding: 20px 0 15px;
    background-image: url(../images/bg_site_info_bingo.jpg);
}

.sectionSiteInfo h1 {
    margin-top: 0;
}

.modalLinks a {
    font-size: 12px;
}

.mfModal {
    outline: none;
}

.mfModal:active,
.mfModal:focus,
.mfModal:hover {
    outline: none;
    text-decoration: none;
}

.mfModalCopy {
    font-size: 13px;
    line-height: 18px;
}

.trusted {
    max-width: 600px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

@media (max-width: 767px) {
    .sectionSiteInfo {
        padding: 20px 0 25px;
    }

    .modalLinks {
        margin-top: 10px;
    }
}

.tableReviews {
    border: none;
    border-bottom: 1px solid #ddd;
    margin: 0;
    position: relative;
}

.tableReviews thead tr th {
    background-color: #006699;
    border-bottom: none;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
}

.topRatingOnlyBorderBox {
    border: 4px solid #999;
    margin-top: 30px;
}

.tableReviews tbody tr td {
    padding-bottom: 15px;
    padding-top: 15px;
    text-align: center;
    vertical-align: middle;
}

.tableReviews tbody tr td li {
    font-size: 0.85rem;
    text-align: left;
}

.tdSite {
    position: relative;
    width: 25%;
}

.tdHighlights {
    width: 40%;
}

.tdScore {
    width: 15%;
}

.tableReviews .tdVisit {
    padding-left: 10px;
    padding-right: 20px;
    width: 20%;
}

.tableReviews a {
    color: #116696;
}

.tableReviews a:focus,
.tableReviews a:hover {
    color: #7dc049;
}

.tableReviews .smallLink {
    color: #999;
    font-size: .75rem;
    text-decoration: underline;
}

.tableReviews .smallLink:hover {
    color: #666;
}

.tableReviews .scoreText {
    color: #7dc049;
    cursor: pointer;
    font-family: 'Fjalla One', sans-serif;
    font-size: 55px;
    line-height: 3.5rem;
    text-decoration: none;
}

.tableReviews .scoreText:hover {
    color: #9bd96b;
    text-decoration: none;
}

.ourScore {
    color: #999;
    font-size: 0.75rem;
    margin-bottom: 5px;
}

@media (max-width: 767px) {

    .topRatingOnlyBorderBox {
        border: none;
        border-top: 4px solid #999;
        border-bottom: 4px solid #999;
    }

    .tableReviews tbody tr td {
        padding-bottom: 25px;
        padding-top: 25px;
        white-space: normal !important;
        width: 33.33%;
        width: calc(100% / 3);
    }

    .mobileInfo .mobileReviewLink a {
        color: #999;
        font-size: 0.75rem;
        text-decoration: underline;
    }

    .mobileInfo .mobileReviewLink a:hover {
        color: #666;
    }
}

@media (max-width: 767px) {
    .table-responsive {
        margin-bottom: 0;
    }
}

.footer {
    background-color: #eee;
    font-size: 10px;
    height: auto;
    padding-bottom: 50px;
    text-align: center;
}

.footerNav {
    margin-top: 50px;
}

.footer a {
    color: #116696;
    font-size: 14px;
    letter-spacing: -0.025rem;
    text-decoration: none;
}

.footer a:hover {
    color: #7dc049;
    text-decoration: none;
}

.footer .referralText {
    margin-bottom: 10px;
}

.footer ul.copyright {
    margin-top: 10px;
}

.copyright a {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
}

.rvwsModal {
    font-size: 14px;
    text-align: center;
}

.rvwsModal a {
    color: #999;
}

.rvwsModal .modal-header {
    border-bottom: none;
}

.rvwsModal .modal-footer {
    border-top: none;
}

.rvwsModal .brandLogo {
    max-width: 125px;
}

.rvwsModal ul {
    list-style-position: outside;
    margin-bottom: 20px;
    padding-left: 20px;
    text-align: left;
}

.rvwsModal .btnSimple:focus,
.rvwsModal .btnSimple:hover {
    background: #9bd96b;
    background: -moz-linear-gradient(top, #7dc049 0%, #9bd96b 100%);
    background: -webkit-linear-gradient(top, #7dc049 0%, #9bd96b 100%);
    background: linear-gradient(to bottom, #7dc049 0%, #9bd96b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7dc049', endColorstr='#9bd96b', GradientType=0);
}

@media (max-width: 767px) {

    .brand-item {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #ddd;
    }

    .brand-item > td, .brands-body {
        display: block;
    }

    .brand-item .tdScore {
        order: 1;
        padding: 10px 8px;
        border: none;
        width: 18.95%;
    }

    .brand-item .tdSite {
        order: 2;
        padding: 10px 8px;
        border: none;
        width: 52.25%;
    }

    .brand-item .tdVisit {
        order: 3;
        padding: 10px 8px;
        border: none;
        width: 28.8%;
    }

    .tableReviews .scoreText:hover {
        color: #fff;
    }

    .tableReviews, .table-responsive {
        border-bottom: 0;
    }

    .mobileRanking {
        margin: 0 auto 5px;
    }

    .mfNavbar {
        padding: 0;
    }

    .sectionSiteInfoImage {
        min-height: fit-content;
    }

    .tableReviews tbody tr td {
        padding-bottom: 10px;
        padding-top: 10px;
        width: auto;
    }

    a.siteLogo img {
        max-width: 125px;
    }

    .mobileInfo .mobileReviewLink {
        color: #aaa;
    }

    .mobileInfo .mobileReviewLink a {
        color: #aaa;
        text-decoration: none;
    }

    .mobileRanking {
        background-color: #7dc049;
        border: none;
        border-radius: 50%;
        color: #fff;
        display: inline-block;
        font-weight: 700;
        height: 25px;
        width: 25px;
    }

    .tableReviews .btnReviewWidget {
        font-size: 15px;
    }

    .tableReviews .scoreContainerMobile {
        background-color: #999;
        color: #fff;
        font-size: 9px;
        margin-top: 5px;
        padding: 3px;
    }

    .tableReviews .scoreText {
        color: #fff;
        font-size: 20px;
        line-height: 1.5rem;
    }
}