html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    font-size: 14px;
    line-height: 1.5;
    min-height: 110vh;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


.wrapper {
    margin: 0 auto;
    max-width: 1250px;
    padding: 20px 0;
    position: relative;
}



.screenshots {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(3, 1fr);
}
.screenshots-inner {
    position: relative;
    overflow: hidden;
    height: 500px;
    background: #E5E5E5;
    border: 1px solid black;
}
@media (max-width: 1270px) {
    .screenshots-inner {
        height: 300px;
    }
    .wrapper {
        margin: 0 10px;
    }
}

.screenshots-title {
    font-weight: bold;
    text-align: center;
    padding: 5px 0;
}
.screenshots-img {
    position: absolute;
    left: 0;
    top: 0;
    transform-origin: 0 0;
    width: 300%;
    height: 300%;
    transform: scale(0.3333);
    overflow-y: scroll;
}

.screenshots img {
    max-width: 100%;
}

.title {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

b {
    font-weight: 700;
}

.filter {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 50px;
}

.button {
    cursor: pointer;
    font-size: 20px;
    width: 80px;
    background-color: #329a30;
    color: #fff;
    border-radius: 50px;
    border: 0;
    outline: 0;
    padding: 10px;
    transition: 0.3s all;
}

.button:hover {
    background-color: #206c1f;
}

#backToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #329a30;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 20px;
}

#backToTop:hover {
    background-color: #206c1f;
}

.inactive {
    user-select: none;
    pointer-events: none;
    opacity: 0.5;
}

.loader {
    position: absolute;
    left: -25px;
    top: -15px;
    display: flex;
    align-items: center;
    width: 320px;
}

.loader img {
    width: 100px;
}

.hidden {
    display: none;
}

@media (max-width: 870px) {
    .filter {
        flex-wrap: wrap;
        gap: 15px;
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }

    .screenshots {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 0;
    }

    .screenshots-item {
        width: 49%;
    }

    .loader p {
        display: none;
    }

    .title {
        font-size: 18px;
    }
}