* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    box-sizing: border-box;
}
img {
    max-width: 100%;
}
body {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 10px;
}

.btn {
    display: block;
    color: #fff;
    text-decoration: none;
    background: #3D95E9;
    border-radius: 50px;
    text-align: center;
    transition: 0.3s;
}

.btn:hover {
    transform: scale(1.07);
}

.header {
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
    background-color: #000;
    color: #fff;
}

.header__container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header__title {
    font-weight: 700;
}

.header__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}

.header__text br {
    display: none;
}

.header__btn {
    font-weight: 700;
    font-size: 16px;
    max-width: 400px;
    width: 100%;
    padding: 20px;
}

.top__text {
    font-size: 16px;
    line-height: 25px;
}

.top {
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
    font-weight: 900;
    text-align: center;
    color: #3D95E9;
    padding-top: 20px;
}

.top__container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.strip {
    background-color: #3D95E9;
    padding: 11px 0;
}

.strip img {
    display: block;
    margin: auto;
}

.article__text {
    font-size: 16px;
    line-height: 28px;
}

.article__image {
    flex-shrink: 0;
}

.slider__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    color: #3D95E9;
    margin-bottom: 32px;
}

.slider__item-image {
    margin-bottom: 24px;
}

.slider__item-text {
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    margin-bottom: 35px;
    min-height: 84px;
}

.slider__item-text b {
    display: block;
    font-weight: 700;
    color: #3D95E9;
}

.slider__btn {
    font-weight: 700;
    font-size: 24px;
    padding: 14px;
    max-width: 336px;
    margin: auto;
    color: #000;
}

.info__btn {
    font-weight: 700;
    font-size: 24px;
    padding: 14px;
    max-width: 336px;
    margin: auto;
}

.info__top b {
    display: block;
    font-weight: 900;
    text-align: center;
    color: #000000;
}

.info__top {
    font-weight: 700;
    text-align: center;
    color: #fff;
    background-color: #3D95E9;
    border-radius: 113px 113px 0 0;
}

.info__bottom {
    font-size: 28px;
    line-height: 107%;
    font-weight: 700;
    text-align: center;
    background-color: #000;
    color: #3D95E9;
    border-radius: 0 0 0 113px;
}

.info__content {
    position: relative;
}

.info__image {
    position: absolute;
    bottom: 0;
    right: -7px;
}

.info {
    padding: 102px 0 88px;
    overflow: hidden;
}

.footer {
    padding: 70px 0;
    background-color: #3D95E9;
}

.footer__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
    color: #000000;
    margin-bottom: 32px;
}

.footer__text {
    font-size: 12px;
    line-height: 16px;
    color: #000000;
}

@media (min-width: 1200px) {
    .only-mobile {
        display: none;
    }

    .header {
        background-image: url(../images/header-bg1.jpg);
        height: 535px;
        padding: 51px 0;
    }

    .header__title {
        margin-top: auto;
        width: 500px;
        margin-bottom: 16px;
        font-size: 36px;
        line-height: 42px;
    }

    .header__text{
        margin-bottom: 32px;
    }

    .header__content {
        width: 500px;
    }

    .top__text {
        padding: 15px 0 28px;
    }

    .top {
        background-image: url(../images/top-bg1.jpg);
        height: 384px;
        font-size: 90px;
        line-height: 101px;
        text-align: left;
    }

    .top__container {
        justify-content: flex-end;
        padding-right: 113px;
    }

    .article {
        padding: 64px 0 83px;
    }

    .article__text {
        margin-top: 16px;
    }

    .article__image {
        margin-right: 25px;
    }

    .article__container {
        max-width: 940px;
        display: flex;
        align-items: flex-start;
    }

    .strip {
        padding: 17px 0;
    }

    .strip img {
        width: 336px;
    }

    .slider__main {
        display: flex;
        justify-content: space-between;
    }

    .slider__item {
        width: calc(33.3% - 20px);
    }

    .info {
        background-size: 2508px;
    }

    .info__top b {
        font-size: 45px;
        line-height: 55px;
        margin-bottom: 17px;
    }

    .info__top {
        font-size: 35px;
        line-height: 38px;
        padding: 17px 390px 27px 75px;
    }

    .info__bottom {
        padding: 24px 387px 19px 54px;
    }

    .info__container {
        padding-right: 0;
    }
}

@media (max-width: 1199px) and (min-width: 768px) {
    .only-mobile {
        display: none;
    }

    .container {
        max-width: 770px;
    }

    .header {
        background-image: url(../images/header-bg2.jpg);
        height: 670px;
        padding: 32px 0;
    }

    .header__title {
        font-size: 38px;
        line-height: 41px;
        text-align: center;
        margin-bottom: auto;
    }

    .header__content {
        position: relative;
    }

    .header__content:before {
        content: '';
        background-color: rgba(0, 0, 0, 0.8);
        position: absolute;
        top: -32px;
        bottom: -32px;
        left: calc(-50vw + 375px);
        right: calc(-50vw + 375px);
        z-index: 0;
    }

    .header__text {
        position: relative;
        z-index: 1;
        margin-bottom: 32px;
        text-align: center;
    }

    .header__btn {
        position: relative;
        z-index: 1;
        max-width: 280px;
        margin-left: auto;
        margin-right: auto;
        padding: 17px 5px;
        font-size: 15px;
    }

    .top__text .no-tablet {
        display: none;
    }

    .top__text {
        padding: 10px 0 22px;
    }

    .top {
        background-image: url(../images/top-bg2.jpg);
        height: 245px;
        font-size: 57px;
        line-height: 111.9%;
        text-align: left;
    }

    .top__container {
        padding-left: 235px;
    }

    .strip img {
        width: 215px;
    }

    .article {
        padding: 35px 0 17px;
    }

    .article__text {
        margin-top: 10px;
        font-size: 10px;
        line-height: 18px;
    }

    .article__image {
        margin-right: 15px;
        width: 78px;
    }

    .article__container {
        max-width: 606px;
        display: flex;
        align-items: flex-start;
    }

    .slider__container {
        padding: 0;
    }

    .slider__title {
        font-size: 23px;
        line-height: 31px;
        margin-bottom: 20px;
    }

    .slider__btn {
        max-width: 220px;
        margin-left: auto;
        margin-right: auto;
        font-size: 16px;
        padding: 9px;
    }

    .slider__item-text b {
        max-width: 190px;
        margin-left: auto;
        margin-right: auto;
    }

    .slider__item-text {
        margin-bottom: 20px;
    }

    .info__btn {
        max-width: 215px;
        font-size: 15px;
        padding: 9px;
    }

    .slider__main {
        display: flex;
        justify-content: space-between;
    }

    .slider__item {
        width: calc(33.3% - 13px);
    }

    .slider__item-text {
        font-size: 16px;
        line-height: 25px;
        min-height: 125px;
    }

    .slider__item-image {
        margin-bottom: 12px;
    }

    .info {
        background-size: 1616px;
        padding: 73px 0 55px;
    }

    .info__top b {
        font-size: 29px;
        line-height: 35px;
        margin-bottom: 11px;
    }

    .info__top {
        padding: 14px 228px 17px 16px;
        font-size: 22px;
        line-height: 24px;
        border-radius: 75px 75px 0 0;
    }

    .info__bottom {
        padding: 13px 230px 14px 10px;
        letter-spacing: -0.02em;
        font-size: 18px;
        border-radius: 0 0 0 75px;
    }

    .info__image {
        width: 288px;
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 360px;
    }

    .header__container {
        padding: 0 20px;
    }

    .header {
        background-image: url(../images/header-bg3.jpg);
        padding: 32px 0 0;
        height: 531px;
    }

    .header__title {
        font-size: 25px;
        line-height: 30px;
        margin-bottom: auto;
        text-align: center;
    }

    .header__text {
        font-size: 15px;
        line-height: 24px;
        text-align: center;
        margin-bottom: 32px;
    }

    .header__text br {
        display: block;
    }

    .header__btn {
        max-width: 280px;
        margin-left: auto;
        margin-right: auto;
        font-size: 15px;
        padding: 20px 5px;
        margin-bottom: -16px;
    }

    .top__text {
        padding: 51px 0 0;
        text-align: center;
    }

    .top {
        background-image: url(../images/top-bg3.jpg);
        height: 295px;
        font-size: 45px;
        line-height: 112.9%;
        padding-top: 85px;
    }

    .strip img {
        width: 336px;
    }

    .article {
        padding: 30px 0 48px;
    }

    .article__image {
        margin-bottom: 32px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .article__container {
        max-width: 358px;
    }

    .article__text {
        text-align: center;
    }

    .slider {
        overflow: hidden;
    }

    .slider__container {
        width: 1160px;
        max-width: 1160px;
        margin-left: calc(50vw - 580px);
    }

    .slider .slider__item {
        padding: 0 15px;
    }

    .info {
        background-size: 997px 631px;
        background-position: top 133px center;
        padding: 45px 0 114px;
        overflow: hidden;
    }

    .info__image {
        width: 355px;
        max-width: 355px;
    }

    .info__top b {
        font-size: 33px;
        line-height: 97.9%;
        margin-bottom: 20px;
    }

    .info__top {
        padding: 17px 17px 44px;
        font-size: 27px;
        line-height: 29px;
        border-radius: 75px 75px 0 0;
    }

    .info__top br {
        display: none;
    }

    .info__bottom {
        padding: 17px 32px 210px;
        font-size: 19px;
        border-radius: 0 0 0 75px;
        position: relative;
    }

    .info__btn {
        position: absolute;
        bottom: -82px;
        right: 10px;
        max-width: 316px;
        font-size: 22px;
        width: 100%;
        padding: 14px;
    }

    .footer__title, .footer__text {
        padding-left: 50px;
    }
}